.buttons{
    margin-left: 20px
}

.comment-box{
    margin-left: 20px;
    display: flex;
}

button{
    background-color: red;
}
textarea{
    border-radius: 5px;
}

.replies{
    margin-left: 50px
}