
.title-video{
    margin-left: 20px;
}

.ld{
    margin-left:20px;
}

.comment-text h5{
    background-color: white;
    border-radius: 5px;
}

.reply-text{
    background-color: white;
    border-radius: 5px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.reply-title{
    margin-left: 45px;
}