
.title-video{
    margin-left: 20px;
}

.ld{
    margin-left:20px;
}

.comment-text h5{
    background-color: white;
    border-radius: 5px;
}

.reply-text{
    background-color: white;
    border-radius: 5px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.reply-title{
    margin-left: 45px;
}
.comment-box{
    width: auto;
    height: auto;
    border: 2%;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
}
.hrClass{
    border-top: 5px solid black;
    width: 110%;
    position: relative;
    border-style:groove;
}